body {background-image: url("fondo2.jpg");
    background-image: no-repeat;
background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 }
 .titulo{
    background-color: azure;
    border-radius: 10px;
 }
 .titulodos{
    text-align: center;
 }
.cajaprin {
    text-align: center;
    font-style: initial;
    font-size: x-large;
    background-color: silver;
    color: black;
    padding: 20px;
    margin: 60px auto;
    border: 3px solid #2D1674;
    border-radius: 40px;
    width: 600px;
    height: 400px;
    position: relative;
    top: 80px;
    box-shadow: 10px 5px 5px black;
    ;
}
.cajaseg {
    background-color: whitesmoke;
    padding: 15px;
    margin: 40px auto;
    border: 2px;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    font-weight: bold;
    position: relative;
    right: 350px;
    top: 180px;
    box-shadow: 10px 5px 5px black;
    }

    .cajater{
    background-color: blueviolet;
    padding: 15px;
    margin: 40px auto;
    border: 2px;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    font-weight: bold;
    position:relative;
    left: 350px;
    bottom: 200px;
    box-shadow: 10px 5px 5px black;
    }
    .shadow-effect {
        border: none;
        color: white;
        padding: 14px 28px;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(133, 43, 160, 0.767); 
        transition: box-shadow 0.3s ease-in-out; 
        font-weight: bold;
      }
      
      .shadow-effect:hover {
        box-shadow: 0px 8px 16px  whitesmoke; 
      }
      .linke {
        position:relative;
        left: 1000px;
     }